<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapPinLocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42AEA5F41E1B860F002A1D2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42AEA60D1E1B8610002A1D2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42AEA6181E1B8610002A1D2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
